.container{
	padding-top: 15px;
}
.tab-outer{
	width: 100%;/*
	border: 1px solid #ddd;*/
}
div.tab-outer div{
	width: 13.28%;
	text-align: center;
	border: 1px solid;
	display: inline-block;
}
div.tab-outer input{
	width: 50%;
}
div.disable-day{
	background: #bec5be;
}
div.disable-day input{
	visibility: hidden;
}